

<div>
  <mat-card class="custom-card">

    <mat-card-title class="title">
      {{titleRes?titleRes:"I"}}
    </mat-card-title>
    <mat-card-content class="content">

     <div class="imageUrl" > <img src={{url}} mat-card-image></div>
      <p class="pgraph"> {{explanation}} </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <!-- <button>Refresh</button> -->
    </mat-card-actions>


    <mat-card-footer class="footerCard">

<p>copyright: {{copyright}}</p>
    </mat-card-footer>
  </mat-card>
</div>
